<html>

<head>
    <title>Portfelj</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>


<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://127.0.0.1:8080/">
      <img src="https://i.ibb.co/s1Tn8Fn/Latino-Logo.png" style="max-height: 100;" width="100">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="http://127.0.0.1:8080/" class="navbar-item">
        Osnovna stran
      </a>

      <a href="http://127.0.0.1:8080/obrazec-za-dodajanje-portfelja/" class="navbar-item">
        Dodaj portfelj
      </a>
      %if trenutni_portfelj != 0:
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Portfelji
        </a>
        <div class="navbar-dropdown">
            %for portfelj in portfelji:
            <a class="navbar-item" href="http://127.0.0.1:8080/portfelj/{{ portfelj.ime_portfelja }}">{{ portfelj.ime_portfelja  }}</a>
            %end
        </div>
      </div>
      %end
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <form action="/" method="GET"><button class="button is-primary"  type="submit">Uporabnik: {{ user.uporabnisko_ime }}</button></form>        
        </div>
      </div>
      <div class="buttons">
        <form action="/odjava/" method="POST"><button class="button is-danger"  type="submit">Odjava</button></form>        
      </div>
    </div>
  </div>
</nav>

{{!base}}
</body>





</html>