<html>

<head>
    <title>Portfelj</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="http://127.0.0.1:8080/">
            <img src="https://i.ibb.co/s1Tn8Fn/Latino-Logo.png" style="max-height: 100;" width="100">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="http://127.0.0.1:8080/" class="navbar-item">
              Osnovna stran
            </a>
      
            <a href="http://127.0.0.1:8080/obrazec-za-dodajanje-portfelja/" class="navbar-item">
              Dodaj portfelj
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="http://127.0.0.1:8080/registracija/" class="button is-danger">
                     Registracija
                </a>
              </div>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <a href="http://127.0.0.1:8080/prijava/" class="button is-primary">
                    Prijava
                </a>
              </div>
            </div>
          </div>
        </nav>

%if napaka is not None:
<div class="columns is-mobile">
  <div class="column is-3 is-offset-4">  
      <article class="message is-danger">
          <div class="message-header">
            <p>Registracija neuspešna</p>
          </div>
          <div class="message-body">
            {{ napaka }}
          </div>
        </article>   
  </div>  
</div>
%end
<div class="columns is-mobile">
    <div class="column is-4 is-offset-4">
        <form action="/registracija/" method="POST" class="box">
            <div class="field">
              <label class="label">Uporabniško ime</label>
              <div class="control">
                <input class="input" type="text" name="uporabnisko_ime" placeholder="Uporabniško ime">
              </div>
            </div>
        
            <div class="field">
              <label class="label">Geslo</label>
              <div class="control">
                <input class="input" type="password" name="geslo" placeholder="********">
              </div>
            </div>
        
            <button class="button is-primary">Registriraj se</button>
        </form>
    </div>
</div>

</body>
