%rebase("base.html")

<hr>

<!--
<div>
    <p>Vaši portfelji:</p>
    <ul>
        %for portfelj in portfelji:
        <li>{{ portfelj.ime_portfelja }} {{portfelj.kolicina_valute }} {{ portfelj.valuta }} </li>
        %end
    </ul>
    %if trenutni_portfelj == 0:
    <p>Trenutno nimate nastavljenega aktivnega portfelja</p>
    %else:
    <p>Trenutno imate za aktivni portfelj nastavljen {{ trenutni_portfelj.ime_portfelja }}</p>
    %end
</div>
-->

<!--
<div>
    <p>Nov portfelj</p>
    <form action="/dodaj-portfelj/" method="POST">
        <input type="text" name="ime_portfelja" placeholder="ime portfelja">
        <br>
        <br>
        <input type="text" name="valuta" placeholder="valuta">
        <br>
        <br>
        <input type="submit" value="Dodaj portfelj">
    </form>
</div>
-->
<!--<hr>-->


<!--
<div>
    <p>Zamenjaj aktivni portfelj</p>
    <form action="/zamenjaj-portfelj/" method="POST">
        <select name="trenutni_portfelj" id="trenutni_portfelj">
            <option value="a" selected disabled hidden>izberi portfelj</option>
            %for portfelj in portfelji:
            <option value="{{ portfelj.ime_portfelja }}">{{ portfelj.ime_portfelja }}</option>
            %end
        </select>     
        <input type="submit" value="Zamenjaj portfelj">       
    </form>
       
</div>-->
<div class="columns is-mobile">
    <div class="column is-3 is-offset-1">
        <div class="box">
            <h1><strong>Portfelj: </strong><em>{{ trenutni_portfelj.ime_portfelja }}</em></h1>
            <h1><strong>Razpoložljiva sredstva:</strong> {{ round(trenutni_portfelj.kolicina_valute, 2) }} {{ trenutni_portfelj.valuta }}</h1>
            <h1><strong>Vrednost finančnih inštrumentov: </strong>{{ round(trenutni_portfelj.vrednost_portfelja() - trenutni_portfelj.kolicina_valute, 2) }} {{ trenutni_portfelj.valuta }} </h1>
            <h1><strong>Skupna vrednost portfelja: </strong> {{ round(trenutni_portfelj.vrednost_portfelja(), 2) }} {{ trenutni_portfelj.valuta }}</h1>
        </div>

        %include("obrazec_za_nakup.html")
    </div>



    <div class="column is-5 is-offset-1">
        %if trenutni_portfelj == 0:
                <article class="message is-warning">
                    <div class="message-header">
                      <p>Pozor</p>
                    </div>
                    <div class="message-body">
                      Trenutno nimate izbranega aktivnega portfelja.
                      Prosimo izberite ga pod zavihkom <em>Portfelji</em>
                    </div>
                  </article>
            </div>     
        %elif trenutni_portfelj.instrumenti == {}: 
                <article class="message is-warning">
                    <div class="message-header">
                      <p>Pozor</p>
                    </div>
                    <div class="message-body">
                      Trenutno v portfelju <em>{{ trenutni_portfelj.ime_portfelja }}</em> nimate finančnih inštrumentov.
                      Dodate jih lahko na levi strani.
                    </div>
                  </article>   
            </div>    
        %else:    

        <table class="table">
            <thead>
                <tr>
                    <th>Kratica</th>
                    <th>Ime inšrtumenta</th>
                    <th>Količina</th>
                    <th>Cena enote({{ trenutni_portfelj.valuta }})</th>
                    <th>Tržna vrednost</th>
                    <th>Vloženo</th>
                    <th>Donos</th>
                    <th>Prodaja inštrumenta</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                %for instrument in trenutni_portfelj.instrumenti.values():
                <tr>
                    <td>{{ instrument.kratica }}</td>
                    <td>{{ instrument.ime }}</td>
                    <td>{{ instrument.kolicina_instrumenta() }}</td>
                    <td>{{ round(instrument.cena, 2) }}</td>
                    <td>{{ round(instrument.cena * instrument.kolicina_instrumenta(), 2) }}</td>
                    <td>{{ round(instrument.neto_vlozeno(), 2) }}</td>
                    %if float(instrument.donosnost()[:-1]) > 0: 
                    <td class="has-text-primary">{{ instrument.donosnost() }}</td>
                    %elif float(instrument.donosnost()[:-1]) < 0:
                    <td class="has-text-danger">{{ instrument.donosnost() }}</td>
                    %else:
                    <td>{{ instrument.donosnost() }}</td>
                    %end
                    <td>
                        <form action="/opravi-prodajo/" method="POST">
                        <div class="field"> 
                            <div class="control">
                                <input type="text" name="kratica" value="{{ instrument.kratica }}" hidden>
                                <input class="input" type="number" name="kolicina" placeholder="količina" required>
                            </div>
                        </div>
                    </td>

                        
                    <td>    
                            <button class="button is-primary" type="submit" value="prodaj">PRODAJ</button>
                        </form>
                    </td>
                </tr>
                %end
            </tbody>
        </table>
        %end
    </div>
</div>



